html,body{
  background-color: #ccc;
  height: 100vh;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.contobox-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contobox{
  width: 300px;
  height: 250px;
  z-index: 1;
  background-image: url("./images/background.png");
  display: flex;
  align-items: flex-end;
}
/*ConnectContainer*/
.connect-container{
  font-family: "Helvetica";
  min-width: 100%;
  height: 175px;
  background-color: rgba(0,0,0,0.5);
  padding-top: 3%;
  padding-right: 16.66%;
  padding-left: 20%;
  color: rgb(31,199,192);
  animation: fadeOut 1s 8s, collapse .1s 9s;
  animation-fill-mode: forwards;
}
.connect-container hr{
  visibility: hidden;
  margin: 5px auto;
}
.connect-container p{
  margin: 1px 0 1px 0;
  font-size: 8px;
  white-space: nowrap;
  overflow: hidden;
  width: 20em;
}
.connect-container span{
  font-size: 10px;
  font-weight: 900;
  margin: 1px auto;
}


.connect-container p:first-child{
  animation: type 1s steps(60, end) ;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(2){
  animation: type 1s steps(60, end) 0.8s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(3){
  animation: type 1s steps(60, end) 1.6s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(4){
  animation: type 1s steps(60, end) 2.6s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(6){
  animation: type 1s steps(60, end) 3.4s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(7){
  animation: type 1s steps(60, end) 4.4s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(8){
  animation: type 1s steps(60, end) 5.2s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(10){
  animation: type 1s steps(60, end) 6s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(11){
  animation: type 1s steps(60, end) 6.8s;
  animation-fill-mode: backwards;
}
.connect-container p:nth-child(12){
  animation: type 1s steps(60, end) 7.6s;
  animation-fill-mode: backwards;
}
@keyframes type{
  from { width: 0; }
}

@keyframes fadeOut{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes collapse{
  0%{width: 100%;}
  100%{width: 0; min-width: 0; padding: 0}
}


/*VideoContainer*/
.video-container{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  min-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.media-container{
  position: relative;
  animation: unmargin 18s;
  animation-fill-mode: both;
}
.order-container{
  position: relative;
  /*animation: expandcontainer 5s 18s;*/
  animation-fill-mode: forwards;
  display: flex;
  justify-content: space-around;

}
.rollover-container{
  position: relative;
  display: flex;
  flex-flow: column;
  animation: marginroll 18s;
  animation-fill-mode: forwards;
}
@keyframes expandcontainer{
    0%{height: 30.19px; width: 130px}
    100%{height: 70%; width: 100%}
}
#vimg1{
  position: absolute;
  top: 20px;
  align-self: flex-start;
  margin-left: 3em;
  animation: expand1 13s, collapse1 2s 16s;
  animation-fill-mode: both;
}
#vimg2{
  width: 200px;
  height: 150px;
  margin-left: .5em;
  animation: fadeIn 3s 7s, contract 1s 10s, fadeOut 1s 15s, collapse2 2s 16s;
  animation-fill-mode: forwards;
}
#vimg3{
  position: relative;
  top: 50%;
  transform: translateY(-30%);
  margin-left: -.3em;
  animation: expand3 13s, fadeOut 1s 15s, collapse3 2s 16s;
  animation-fill-mode: forwards;
}
#vimg4{
  animation: expand4 19s;
  animation-fill-mode: forwards;
}
#vimg5{
  animation: expand5 18s;
  animation-fill-mode: both;
}
#vimg6{
  /*margin-top: 0.4em;*/
  animation: expand6 13s, marginme 18s;
  animation-fill-mode: forwards;
}

#vimg7{
  position: absolute;
  bottom: 0;
  animation: expand7 13s;
}

@keyframes fadeIn{
  0%{visibility: hidden; opacity: 0; width: 0; height:0 }
  33%{visibility: hidden; opacity: 0;  height:150px;width: 200px;}
  90%{visibility: hidden; opacity: 0}
  100%{visibility: visible; opacity 1}
}

@keyframes contract{
  0%{height: 150px; width: 200px;}
  50%{height: 150px; width: 200px;}
  100%{height: 120px; width: 162px;}
}


@keyframes expand1{
  0%{visibility: hidden; height: 0; width: 0; opacity: 0}
  85%{visibility: hidden; height: 0; width: 0; opacity: 0}
  100%{visibility: visible; height: 30px; width: 120px; opacity: 1}
}
@keyframes collapse1{
  0%{height: 30px; width: 120px;}
  100%{height: 0; width: 0;}
}
@keyframes collapse2{
  0%{height: 120px; width: 162px;}
  100%{height: 0; width: 0;}
}
@keyframes expand3{
  0%{visibility: hidden; height: 0; width: 0; opacity: 0}
  85%{visibility: hidden; height: 0; width: 0; opacity: 0}
  100%{visibility: visible; height: 71px; width: 117px; opacity: 1}
}
@keyframes collapse3{
  0%{height: 71px; width: 117px;}
  100%{height: 0; width: 0;}
}
@keyframes expand4{
  0%{visibility: hidden; height: 0; width: 0; opacity: 0}
  90%{visibility: hidden; height: 0; width: 0; opacity: 0}
  100%{visibility: visible; height: 181px; width: 165px; opacity: 1}
}
@keyframes expand5{
  0%{visibility: hidden; height: 0; width: 0; opacity: 0}
  94%{visibility: hidden; height: 0; width: 0; opacity: 0}
  100%{visibility: visible; height: 90px; width: 135px; opacity: 1}
}
@keyframes marginme{
  0%{margin: 0}
  94%{margin: 0}
  100%{margin-top: 0.4em}
}
@keyframes marginroll{
  0%{margin: 0}
  94%{margin: 0}
  100%{margin: 10px 0 0 -20px;}
}
@keyframes unmargin{
  0%{margin: 0.5em auto;}
  94%{margin: 0.5em auto;}
  100%{margin: 0;}
}
@keyframes expand6{
  0%{visibility: hidden; height: 0; width: 0; opacity: 0}
  85%{visibility: hidden; height: 0; width: 0; opacity: 0}
  100%{visibility: visible; height: 27px; width: 131px; opacity: 1}
}

@keyframes expand7{
  0%{visibility: hidden; height: 0; width: 0; opacity: 0}
  85%{visibility: hidden; height: 0; width: 0; opacity: 0}
  100%{visibility: visible; height: 33px; width: 271px; opacity: 1}
}
